* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #e5e5e5;
}
.header {
  background-color: #0050b3;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
}
.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 1200px;
}
.search-input {
  background-image: url(../img/search-logo.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
  width: 336px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 30px 4px 12px;
  line-height: 22px;
  outline: none;
}
.user-avatar {
  margin-right: 8px;
}
.user-name {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
}
.user {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation-pannel {
  display: flex;
  align-items: center;
}
.navigation-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 12px;
}
.navigation-link:before {
  content: "";
  width: 0.5px;
  height: 16px;
  background: #002766;
  margin-right: 12px;
}
.navigation-link:last-child:after {
  content: "";
  width: 0.5px;
  height: 16px;
  background: #002766;
  margin-left: 12px;
}
.icons-panel {
  display: flex;
  align-items: center;
}
.icons-link {
  display: flex;
  align-items: center;
  margin-left: 17px;
  fill: #002766;
  display: flex;
}
.icons-link:hover {
  fill: #ffffff;
}
.icons-link:nth-last-child(2):before {
  content: "";
  width: 0.5px;
  height: 16px;
  background: #002766;
  margin-right: 12px;
}
.icons-link:last-child {
  margin-left: 8px;
}
.user-name-sidebar {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  font-weight: normal;
}
.container {
  max-width: 1203px;
  margin: auto;
  display: flex;
}
.menu-sidebar {
  width: 192px;
  padding-top: 16px;
}
.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.nav-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.nav-group:last-child {
  margin-bottom: 12px;
}
.user-sidebar {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: auto;
}
.user-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}
.nav-icon {
  display: none;
  margin-left: auto;

  width: 24px;
  height: 24px;
}
.nav-link:hover {
  background: #ffffff;
  border-radius: 4px;
  color: #262626;
  font-weight: 550;
  max-width: 192px;
}
.nav-link:hover .nav-icon {
  display: flex;
}
.nav-main-icon {
  margin-right: 8px;
}
.nav-group-text {
  font-size: 12px;
  line-height: 20px;
  color: #262626;
  font-weight: 600;
  margin-left: 8px;
}
.list-sidebar a {
  text-decoration: none;
}
.list-sidebar li {
  list-style: none;
}
.menu-list-sidebar {
  padding-left: 8px;
  margin-top: 0px;
  margin-bottom: 50px;
}
.img-link-sidebar {
  display: flex;
  align-items: center;
  height: 16px;
}
.sub-menu-list-sidebar {
  position: absolute;
  padding-left: 4px;
  display: none;
  padding: 10px 10px 10px 10px;
}
.sub-menu-link-sidebar {
  padding: 4px 4px 4px 4px;
}
.menu-list-sidebar:hover .sub-menu-list-sidebar {
  display: block;
}
.link-sidebar {
  display: flex;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.sub-menu-list-sidebar a:hover {
  color: #262626;
  font-weight: 600;
}
.text-list-sidebar {
  margin-left: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #1890ff;
}
.main-feed {
  width: 588px;
  margin-left: 15px;
  margin-top: 16px;
}
.news {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.avatar-post {
  width: 40px;
  height: 40px;
}
.content-post {
  display: flex;
  display: flex;
  justify-items: flex-start;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.link-post {
  background: #f5f5f5;
  margin-left: 8px;
  padding: 8px 12px;
  border-radius: 48px;
  border: none;
  outline: none;
  cursor: pointer;
}
.link-post:first-child {
  margin-left: 0;
}
.text-post {
  padding-top: 9px;
  margin-left: 16px;
  width: 500px;
  outline: silver;
}
.img-link-post {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.text-link-post {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-top: 9px;
  margin-left: 8px;
}
.footer-post {
  background: #ffffff;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
}
.img-link-post {
  display: inline;
}
.name_post {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.create-post {
  padding: 9px 16px;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f5f5f5;
}
.footer-post:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;
}
.f_item {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 16px 16px 16px;
}
.user-item-logo {
  display: flex;
  justify-content: space-between;
}
.user-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-right: auto;
}
.user-item-name {
  width: 100%;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #0050b3;
  margin-top: 4px;
  max-height: 22px;
}
.text-user-status {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin-right: 6px;
}
.point {
  width: 4px;
  height: 4px;
  background: #bfbfbf;
  border-radius: 4px;
  margin-right: 6px;
}
.user-block-info {
  display: flex;
  align-items: center;
  max-height: 22px;
}
.user-item-avatar {
  width: 48px;
  height: 48px;
}
.user-option {
  border: none;
  background: #ffffff;
  outline: none;
  cursor: pointer;
}
.logo-fitem {
  margin-bottom: 16px;
}
.body-item {
  display: flex;
  height: 86px;
  margin-bottom: 16px;
}
.link-text-item {
  display: flex;
  align-items: flex-end;
  margin-top: 26px;
}
p {
  font-size: 13px;
  line-height: 20px;
  color: #595959;
  margin: 0;
}
.text-body-item {
  display: flex;
  flex-wrap: nowrap;
}
.img-body-fiten {
  border-radius: 4px;
  margin-bottom: 9px;
}
.like-body-fitem {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
.text-logo-body {
  margin-left: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.button-logo-like-fiten {
  padding: 0;
  margin: 0;
  border: none;
  background: #ffffff;
  outline: none;
  cursor: pointer;
}
.footer-fitem {
  width: 100%;
  display: flex;
  padding-top: 15px;
  border-top: 1px solid #e8e8e8;
  justify-content: space-around;
}
.footer-fitem-button {
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.text-button-item {
  margin-left: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  font-weight: 550;
}
.stories {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 16px 16px 24px;
  width: 384px;
  margin-bottom: 16px;
}
.right__sidebar {
  margin-top: 16px;
  margin-left: 24px;
}
.stories_btn {
  border: none;
  background: #ffffff;
  outline: none;
  padding: 0;
  cursor: pointer;
  height: 48px;
  margin-right: 12px;
}
.text__stories {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin-top: 4px;
}
.main__text__stories {
  font-weight: 550;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  width: 100%;
}
.main__stories__content {
  display: flex;
  margin-bottom: 16px;
}
.header__stories {
  margin-bottom: 16px;
}
.stories__content {
  display: flex;
  flex-flow: wrap;
}
.option__stories {
  display: flex;
  align-items: center;
}
.header__stories {
  display: flex;
  justify-content: space-between;
}
.text__archive {
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}
.settings__button {
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}
.archive__button {
  display: flex;
  align-items: center;
  border: none;
  background: #ffffff;
  outline: none;
  padding: 0;
  cursor: pointer;
  margin-right: 8px;
}
.settings__button {
  border: none;
  background: #ffffff;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.img__archive {
  margin-right: 4px;
}
.option__stories .point {
  margin-right: 8px;
}
.text__more {
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}
.brtday__link {
  display: flex;
  align-items: center;
}
.brtday a {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.brtd__text {
  color: #0050b3;
  font-weight: 600;
}
.brtday {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.page {
  margin-top: 16px;
  padding-top: 9px;
  padding-bottom: 16px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main___page {
  padding-left: 16px;
  padding-right: 16px;
}
.main__content__page {
  display: flex;
  padding-bottom: 23px;
  border-bottom: 1px solid #e8e8e8;
}
.page__info {
  display: flex;
}
.like__page__btn {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.amount {
  margin-bottom: 4px;
}
.header___page {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
}
.header___page h2 {
  margin: 0;
  margin-left: 16px;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.btn__header__page {
  margin-right: 16px;
  border: none;
  background: #ffffff;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.btn__main__page {
  border: none;
  background: #ffffff;
  outline: none;
  padding: 0;
  cursor: pointer;
}
.btn__main__page img {
  height: 48px;
  width: 48px;
}
.content__page {
  margin-top: 16px;
  margin-left: 12px;
}
.quantity {
  margin-left: 4px;
  width: 17px;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.quantity p {
  text-align: center;
}
.like_main_page_btn {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  outline: none;
  width: 118.36px;
  color: #8c8c8c;
  font-size: 16px;
  line-height: 24px;
}
.like_main_page_btn:nth-child(1) {
  border-right: 0.5px solid #e8e8e8;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.like_main_page_btn:nth-child(2) {
  border-left: 0.5px solid #e8e8e8;
  border-right: 0.5px solid #e8e8e8;
}
.like_main_page_btn:nth-child(3) {
  border-left: 0.5px solid #e8e8e8;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.like_main_page_btn:hover {
  color: #1890ff;
  border: 1px solid #1890ff;
}
.text__page__info {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin-left: 4px;
}
.logo__page__text {
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  font-weight: 600;
}
.info__main__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.amount {
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}
.amount_week {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}
.main_footer {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-top-right-radius: 4px;
  padding: 16px;
}
.text_main_feed {
  font-size: 13px;
  line-height: 22px;
  color: #595959;
}
.link-item-body {
  text-decoration: none;
  color: #096dd9;
  font-size: 14px;
  line-height: 22px;
}
